@using MvcSample.Web.Models
@model List<Fsharp>
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
    string helloClass = null;
}

<div class="row">
    <ul>
    @foreach (var item in Model)
    {
    <li><a href="/playground/@(item.Hash)">@item.Hash</a></li>
    }
    </ul>
</div>
