@using MvcSample.Web.Models
@model PlaygroundViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
    string helloClass = null;
}

<div class="row">
      
<h2>the fsharp playground</h2>
    


<div>
      <div class="col-sm-8">
            <div class="row">
                  <input id="compile" class="btn btn-default" type="button" value="Run">
                  <input id="share" class="btn btn-default" type="button" value="Share">
                  <input id="login" class="btn btn-default" type="button" value="Login via Github">
            </div>
            <div class="row">
                  <textarea id="input" tabindex="0" spellcheck="false" autocapitalize="off" autocorrect="off" style="background-color:cornflowerblue;height:250px;width:100%" wrap="off">@Model.Content</textarea>
                  <textarea id="output" tabindex="0" spellcheck="false" autocapitalize="off" autocorrect="off" style="background-color:cornflowerblue;height:150px;width:100%" wrap="off"></textarea>
      
            </div>
      </div>
      <div class="col-sm-4">
            
            <ul style="margin-top:40px;">
                  @foreach (var item in Model.RecentHashes)
                  {
                  <li><a href="/playground/@(item)">@item</a></li>
                  }
            </ul>
      </div>
</div>

</div>
<script>

    var input = document.getElementById("input");
    var compile = document.getElementById("compile");
    var output = document.getElementById("output");
    var share = document.getElementById("share");
    
    function mapQueryString(s){
          return s.split('&')
      .map(function(kvp){
            return kvp.split('=');   
      }).reduce(function(sum,current){
            var key = current[0];
            var value = current[1];
            sum[key] = value;
            return sum;
      },{});
    }
    
    var qs = mapQueryString(location.search.substr(1));
    
    login.onclick=function(e){
      location.assign("https://github.com/login/oauth/authorize?client_id=e802f1474d79b005649f");
    };
    
    var code = qs["code"];
    
    if (code!==undefined){
          
          var client = new XMLHttpRequest();
          
          client.onload = function(e){
                
                console.log(this.response);
                
                var rqs = mapQueryString(this.response);
                var token = rqs["access_token"];
                
                var client = new XMLHttpRequest();
                
                client.onload=function(e){
                  console.log(JSON.parse(this.response));    
                };
                
                client.open("GET","https://api.github.com/user?access_token="+token);
                client.setRequestHeader("Content-Type","application/json");
                client.send();
                
                
          };
          
          client.open("POST","/playground/github?accessCode="+code);
          client.setRequestHeader('Content-Type', 'application/json');
          client.send();
          
          
          
    }
    
    compile.onclick=function(e){
      var content = input.value;
      console.log(content);
      
      var client = new XMLHttpRequest();
      
      client.onload=function(e){
          
          output.value = this.response;
      };
      
      client.open("POST", "/playground/compile");
      client.setRequestHeader("Content-Type","application/json");
      
      var command = {Line:content};      
      client.send(JSON.stringify(command));
    }; 
    
    share.onclick=function(e){
      var content = input.value;
      
      var client = new XMLHttpRequest();
      
      client.onload=function(e){
          var hash = this.response;
          history.replaceState(null, null, "/playground/"+hash);
      };
      
      client.open("POST", "/playground/share");
      client.setRequestHeader("Content-Type","application/json");
      
      var command = {Line:content};      
      client.send(JSON.stringify(command));
    }; 
    
</script>
